
body{
	font-family:Arial,"Times New Roman",Georgia,Serif;
	background-color:#256F99;
	color:#004b6c;
	margin:0;
	padding:0;
	border:0;
	outline:0;
}

.errors {
	background-color: red;
	color: white;
	text-align: center;
	width: 100%;
}

.notifications {
	background-color: #FF7F00;
	color: white;
	text-align: center;
	width: 100%;
}

#dashboardLink {
	color: white;
	font-size: 1.5em;
	display: block;
	text-align: center;
	width: 100%;
}
	
#wrapper{
	width:960px;
	min-height:720px;
	margin:0 auto;
	/*background-color:blue;*/
	background-image:url('fond_page.png')
}

#lien{margin-left:420px;}

A {text-decoration: none;
	color:#004b6c;
	line-height:30px;}
	
A:hover {text-decoration: underline;
color: #3a9abc;}

#loginpanel{
	width:208px;
	margin:0 auto;
	padding-top:20px;
}
input[type=submit]{
 width:100px;
 margin-top:10px;
 cursor:pointer;
 }
 label {
padding :5px;
display:block;
}

#formu{
	margin-left:350px;
}

#project{
	margin-left:350px;
}

#listetache{
	margin-left:400px;
}

#project{
	width:800px;
	
	/*  margin:0 auto;*/
}
#project_activity{
	width:260px;
	margin-left:105px;
	
}
#project_manage{
	width:460px;
	margin-left:105px;
	
}

#user_manage{
	width:360px;
	margin-left:105px;
}
#user_activity{
	width:360px;
	margin-left:105px;
}
#usernameTP{
	margin-left:100px;
}